// Grid cols structure
@mixin classic-grid-structure {
	min-height: 1px;
	@include media( md-plus ) {
		float: left;
		padding-left: $classic-grid-gutter / 2;
		padding-right: $classic-grid-gutter / 2;		
	}
}

[class^="col-"]{
	@include classic-grid-structure;
}

// Grid container
@mixin container {
	margin: 0 auto;
	padding-left: $classic-grid-gutter / 2;
	padding-right: $classic-grid-gutter / 2;
	position: relative;
	@include media( lg ) {
		max-width: map-get( $container-max-widths, 'lg' );
	}

	@include media( xl ) {
		max-width: map-get( $container-max-widths, 'xl' );
	}

	@include media( xxl ) {
		max-width: map-get( $container-max-widths, 'xxl' );
	}

	@include clearfix;
}

.container {
	@include container;
}

// Grid row
@mixin row {
	position: relative;
	@include media( md-plus ) {
		margin-left: -$classic-grid-gutter / 2;
		margin-right: -$classic-grid-gutter / 2;		
	}

	@include clearfix;
}

.row {
	@include row;
}