// Classic Grid master function
@function classic-grid( $col, $offset: false ) {
	$percent: $col / #{$classic-grid-columns} * 100 + '%';
	$width: calc( #{$percent} - #{$classic-grid-gutter} );

	@if $offset == offset {
		$grid-gutter: #{$classic-grid-gutter} / 2;
		$width: calc( #{$percent} + #{$grid-gutter} );
	}

	@return $width;
}

// Create grid item classes
@for $i from 1 through $classic-grid-columns {
	.col-#{ $i } {
		width: classic-grid( $i );
	}
}