// 	=================================================================================		
//	Classic Grid variables
//	=================================================================================

// Classic Grid breakpoints
$classic-grid-breakpoints: (
	xs: 0,
	sm: 480px,
	md: 768px,
	lg: 1080px,
	xl: 1366px,
	xll: 1440px
);

// Classic Grid containers
$container-max-widths: (
	lg: 980px,
	xl: 1280px,
	xxl: 1320px
);

// Classic Grid columns
$classic-grid-columns: 12;
$classic-grid-gutter: 30px;